USE [TPS_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_Chuyende_Tao]    Script Date: 5/6/2026 3:49:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Chuyende_Tao]
(
	@Ten NVARCHAR(50),
	@Mota NVARCHAR(500),
	@Khongsudung BIT,
	@CreatedBy NVARCHAR(450),
	@UpdatedBy NVARCHAR(450)
)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		DECLARE @Count INT;
		SELECT @Count = COUNT(*) FROM dbo.Chuyende;
		DECLARE @MaID NVARCHAR(50) = N'Chuyende#' + RIGHT('000' + CAST(@Count + 1 AS NVARCHAR(10)), 3);

		INSERT INTO dbo.Chuyende(MaID, Ten, Mota, Khongsudung, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy)
		VALUES (@MaID, @Ten, @Mota, @Khongsudung, SYSDATETIME(), @CreatedBy ,SYSDATETIME(), @UpdatedBy)
		COMMIT;
	END TRY
	BEGIN CATCH
		ROLLBACK;

	END CATCH
END

